DATABASE__DSN=postgresql+asyncpg://user:Passw0rd@localhost:5432/user

DATABASE__ECHO=false

DATABASE__POOL_SIZE=10
DATABASE__POOL_RECYCLE=3600

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=Passw0rd
RABBITMQ_VHOST=/
RABBITMQ_PREDICT_QUEUE=ml.predict
RABBITMQ_PREFETCH=1
LOG_LEVEL=INFO
